#container {
    position: relative;
    background: blue;
    width: 500px;
    height: 500px;
  }
  
  #box {
    position: absolute;
    background: yellow;
    width: 20px;
    height: 20px;
    bottom: 0px;
  }